@font-face {
    font-family: "icon";
    /* Project id 1539691 */
    src: url('//at.alicdn.com/t/c/font_1539691_wcogqp1avr9.woff2?t=1679671985341') format('woff2'),
        url('//at.alicdn.com/t/c/font_1539691_wcogqp1avr9.woff?t=1679671985341') format('woff'),
        url('//at.alicdn.com/t/c/font_1539691_wcogqp1avr9.ttf?t=1679671985341') format('truetype');
}

.icon {
    font-family: "icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-malllanguage:before {
    content: "\e630";
}

.icon-mallfacebookfacebook52:before {
    content: "\e617";
}

.icon-mallinstagram:before {
    content: "\e731";
}

.icon-mallfacebookfacebook11:before {
    content: "\e735";
}

.icon-mallGitHub:before {
    content: "\ea0a";
}

.icon-malltuite:before {
    content: "\ee49";
}

.icon-mallright:before {
    content: "\e73b";
}

.icon-mallleft-arrow:before {
    content: "\e601";
}